<!DOCTYPE html>
<html lang="en">
{{> headController }}
<body onload="verifyAuthentication()">
    {{> headerController }}
     <main class="mainMinhasRepos" id="main">
        <div class="minhasRepos-txt">
            <h1>Minhas Reposições</h1>
        </div>

        {{#if repositions}}
            <div class="reposTable">
                <table>
                    <tr>
                        <th>Matéria</th>
                        <th>Curso</th>
                        <th>Data</th>
                        <th>Horário</th>
                        <th>Local</th>
                        <th>Ações</th>
                    </tr>
                    {{#repositions}}
                        <tr id="repo{{id}}">
                            <td>{{subject}}</td>
                            <td>{{course}}</td>
                            <td>{{date}}</td>
                            <td>{{start}}</td>
                            <td>{{classroom}}</td>
                            <td>
                                <div class="repositionActions">
                                    <img src="../images/compartilharEmail.png" title="Compartilhar como mensagem" alt="Compartilhar como mensagem" onclick="copyToClipboard('{{subject}}', '{{course}}', '{{date}}', '{{start}}', '{{classroom}}')">
                                    <img src="../images/compartilharPDF.png" title="Compartilhar como PDF" alt="Compartilhar como PDF" onclick="goToPDF('{{id}}')">
                                    <img src="../images/deletarReposicao32.png" title="Deletar reposição" alt="Deletar reposição" onclick="deleteReposition('{{id}}')">
                                </div>
                            </td>
                        </tr>
                    {{/repositions}}
                </table>
            </div>
        {{else}}
            <div class="emptyContentRepos" id="emptyRepos">
                <h2>Não há reposições marcadas! Você pode marcar uma reposição clicando aqui:</h2>
                <button id = "send-button" class = "btnIndex" onclick="window.location.href = '../reposition/scheduleForm'"><p>Marcar Reposição</p></button>
            </div>
        {{/if}}
    </main>
    {{> footer }}
    <script>
        function copyToClipboard(materia, curso, data, horario, local){
            texto = "Aviso: Reposição de " + materia + " do curso de " + curso + ", dia " + data + " às " + horario + " no local " + local + ".";
            navigator.clipboard.writeText(texto);
            alert("Texto copiado para a área de transferência.");
        }

        async function goToPDF(repoId){
            window.location.href = 'pdf/'+repoId;  
        }

        function deleteReposition(rid){
            fetch('deleteReposition/'+rid, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
                credentials : "include"
            })
            .then(() => {
                document.querySelector(`#repo${rid}`).remove();
                var table = document.getElementsByTagName('table')[0];
                if(table.children[0].children.length == 1 || (table.children[0].children.length == 2 && table.children[0].children[1].innerHTML == '')){
                    table.remove();
                    document.getElementById('main').innerHTML += `<div class="emptyContentRepos" id="emptyRepos"><h2>Não há reposições marcadas! Você pode marcar uma reposição clicando aqui:</h2><button id = "send-button" class = "btnIndex" onclick="window.location.href = '../reposition/scheduleForm'"><p>Marcar Reposição</p></button></div>`;
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
    </script>
    <script src="../js/index.js"></script>
</body>
</html>