<!DOCTYPE html>
<html lang="en">
{{> headController }}
<body onload="verificaUsuario()">
    {{> headerController }}
     <main class="mainMinhasRepos">
        <div class="minhasRepos-txt">
            <h1>Minhas Reposições</h1>
        </div>

        {{#if repos}}
            <div class="reposTable">
                <table>
                    <tr>
                        <th>Matéria</th>
                        <th>Curso</th>
                        <th>Data</th>
                        <th>Horário</th>
                        <th>Local</th>
                        <th>Ações</th>
                    </tr>
                    {{#repos}}
                        {{#each this}}
                            <tr>
                                <td>{{materia}}</td>
                                <td>{{curso}}</td>
                                <td>{{data}}</td>
                                <td>{{horario}}</td>
                                <td>{{local}}</td>
                                <td>
                                    <div class="repositionActions">
                                        <img src="../images/compartilharEmail.png" title="Compartilhar como mensagem" alt="Compartilhar como mensagem" onclick="copiarAreaTransferencia('{{materia}}', '{{curso}}', '{{data}}', '{{horario}}', '{{local}}')">
                                        <img src="../images/compartilharPDF.png" title="Compartilhar como PDF" alt="Compartilhar como PDF">
                                        <img src="../images/deletarReposicao32.png" title="Deletar reposição" alt="Deletar reposição">
                                    </div>
                                </td>
                            </tr>
                        {{/each}}
                    {{/repos}}
                </table>
            </div>
        {{else}}
            <div class="emptyContentRepos">
                <h2>Não há reposições marcadas! Você pode marcar uma reposição clicando aqui:</h2>
                <button id = "send-button" class = "btnIndex">Marcar Reposição</button>
            </div>
        {{/if}}
    </main>
    {{> footer }}
    <script>
        function copiarAreaTransferencia(materia, curso, data, horario, local){
            texto = "Aviso: Reposição de " + materia + " do curso de " + curso + ", dia " + data + " às " + horario + " no local " + local + ".";
            navigator.clipboard.writeText(texto);
            alert("Texto copiado para a área de transferência.");
        }
    </script>
    <script type="module">
        import { verificaUsuario } from "../js/firebase.js";

        window.verificaUsuario = verificaUsuario;
    </script>
</body>
</html>